
.nav-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color:  #202A44;
  color: white;
  position: fixed;
  z-index: 10;
  height: 3.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  width: 85%;
}

.Home,
.AboutMe,
.Skills,
.Projects,
.Contact,
.Resume {
  right: 10px;
  text-decoration: none;
  font-size: 20px;
  margin: 10px;
  cursor: pointer;
}
ul *:hover{
  color:goldenrod;
}

.mobile-menu-icon {
  display: none;
}

@media screen and (max-width: 850px) {
  .logo {
    text-align: center;
    left: 200px;
  }

  .nav-links {
    display: none;
  }
  .nav-menu {
    display: flex;

  }
  .hamburger {
    position: absolute;
    display: block;
    background-color:  #202A44;
    left: 0;
    top: 3.5rem;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .Home,
  .AboutMe,
  .Skills,
  .Projects,
  .Contact,
  .Resume {
    display: block;
    text-transform: uppercase;
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch: extra-expanded;
    text-align: center;
    padding: 15px;
    width: 100%;
    transition: all 0.5s ease-out;
  }

  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    top: 3px;
    right: 25px;
  }

  .colorModeSwap {
    top: 3px;
    right: 45px;
  }
}
